* {
    margin: 0;
}

.container {
    background: linear-gradient(to top left, #3d85a9, #1b2c55);
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: #0d0c0c;
}
.title {
    text-align: center;
    color: rgb(252, 252, 252);
    font-weight: 700;
    
    
}

#test {
    color: aquamarine;
}

.text {
    text-align: center;
    color: rgb(252, 252, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    margin-top: 30px;
}


.board {
    
    background-color: white;
    width: 450px;
    height: 470px;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 10vh;
    box-shadow: 1px 1px 1px 1px #1b2c55;
 

}
.write_place {
    margin: auto;
    
    
}
input {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 275px;
    height: 40px;
    border: 2px solid rgb(211, 211, 211);
    text-align: center;
}

.btn_add {
    background-color:#3d85a9; 
    text-align: center;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 1px 1px 3px 1px #4b5d67;
    margin-left: 15px;

}

ul {
    list-style: none;
    font-size: 13px;

}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    accent-color: #3d85a9;
   
}

input[type="checkbox"] + label {
 
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.task-content input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgb(18, 17, 17);
}

h2{
    margin-left: 20px;
    color: #3d85a9;
}

li{
    border: 1px solid #c6c6c6;

    width: 400px;
    margin-bottom: 5px;
    margin-left: -20px;
    border-radius: 20px;
 line-height: 50px;
 text-align: justify;
 font-weight: 700;
 box-shadow: 1px 1px 1px 1px #a6a7a8;
    
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.task-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.close_btn {
    background-color: transparent;
    border: none;
    font-size: 10px;
    color: #0d0c0c;
    cursor: pointer;
}

.close_btn:hover {
    color: red;
}

li :hover {
    background-color: #04cbad ;
    border-radius: 20px;
    color: white;
    opacity: 0.8;
    box-shadow: 1px 1px 1px 1px #04cbad;

}

ul {
    margin-top: 4vh;
}

.viewer_task h2 {
    margin-top: 15px;
}




